{% extends 'base.html' %}

{% block content %}
<div>
<p><h1 align="center">About Pigeon & Owl</h1></p>

<h3 align="center">Welcome to the store!</h3>
<p align="center">
Here you can buy valid and extinguished art stamps,  <br>
cozy envelopes, beautiful stickers, charming notebooks,  <br>
decorative tape, various cards and postcards, tags and much,  <br>
much more for your creativity and pleasant communication through paper letters!  <br>
</p>
<h2 align="center"> We wish you a successful shopping! </h2>
<div class="rightpane">
<img src="static/pictures/banner.jpg" height="150" align="left" alt="Banner">
    <img src="static/pictures/banner_right.jpg" height="150" align="right" alt="Banner">
</div>
</div>
{% endblock %}