{% extends 'base.html' %}

{% block content %}
<h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Frequently Asked Questions</h1>
<p></p>
<strong>
    Do you accept orders ... ?
</strong>
<ul>
    <li>
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.
    </li>
</ul>

<strong>
    How do I contact you ... ?
</strong>
<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
</ul>

<strong>
    Nam bibendum, enim in ultricies pharetra?
</strong>
<ul>
    <li>
        Sapien metus posuere ipsum, sed ornare diam ex ut metus. Etiam at posuere neque, a hendrerit lectus. Aenean luctus est sed eros varius feugiat. Vestibulum porttitor sollicitudin sapien, id rutrum massa. Sed eget facilisis lorem. Pellentesque sed purus rhoncus, facilisis tortor nec, laoreet eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
</ul>

<strong>
    Vivamus at magna sagittis, dapibus lectus sed, convallis libero?
</strong>
<ul>
    <li>
        Nam lacinia mauris nec sem auctor, sit amet dignissim urna ornare. Aliquam maximus vitae diam in finibus. In commodo dui eget augue venenatis volutpat. Donec auctor urna vitae mauris sollicitudin placerat. Nullam tincidunt leo nunc, vitae egestas diam tristique eu. Curabitur id risus vitae ipsum dictum rhoncus.
    </li>
</ul>

<strong>
    Quis porttitor sagittis scelerisque?
</strong>
<ul>
    <li>
         Nam enim tortor, interdum nec neque ac, congue feugiat urna. Duis sed mollis leo. Donec orci quam, interdum sed sem quis, commodo mollis libero.
    </li>
</ul>
{% endblock %}
