{% extends 'base.html' %}

{% block content %}
<p><h1 align="center">Shipping Information</h1></p>
<p><strong>To minimize Covid risks, orders are only shipped on Wednesday each week. Thank you for your patience!</strong></p>
<p><strong>How are packages shipped?<br></strong></p>
<ul>
<li>Prints, books, and other flat items are shipped in a rigid flat envelope. Other items will ship in a polybag, bubble mailer, or a combination of these. Orders weighing less than a pound are shipped via USPS first class; priority mail for over a pound.</li>
</ul>
<p><strong>I made a mistake or typo in my address and it got sent to the wrong place. Can you resend it/send out a replacement?<br></strong></p>
<ul>
<li>Please notify us immediately so we can try to have it rerouted to the correct address. If the order was enroute before the mistake was caught, we will have to charge additional shipping to reship your package if it is returned to sender. If it is not returned to sender, you may have to get in contact with your nearest post office to have it corrected or tracked down.</li>
</ul>

<div class="leftpane">
    <img src="static/pictures/shipping.jpg" height="150" alt="Shipping" border="500" align="right">
</div>
<p></p>
<div class="rightpane" align="left">
    <br>
    <p>ORDERS UNDER $10: $3.00<br></p>
    <p>ORDERS OVER $10: $5.00</p>
    <p>ORDERS OVER $30: SHIP FREE</p>
</div>
{% endblock %}